CONTAINER_NAME={{ container_name }}
CONTAINER_IMAGE={{ __container_image }}
CONTAINER_HOSTNAME={{ container_hostname }}
CONTAINER_TIMEZONE={{ container_timezone }}
CONTAINER_RESTART_POLICY={{ container_restart_policy }}

WATCHTOWER_CLEANUP={{ watchtower_cleanup | lower }}
WATCHTOWER_SCHEDULE={{ watchtower_schedule }}
