CONTAINER_NAME={{ watchtower__container_name }}
CONTAINER_IMAGE={{ __watchtower__container_image }}
CONTAINER_HOSTNAME={{ watchtower__container_hostname }}
CONTAINER_TIMEZONE={{ watchtower__container_timezone }}
CONTAINER_RESTART_POLICY={{ watchtower__container_restart_policy }}

WATCHTOWER_CLEANUP={{ watchtower__cleanup | lower }}
WATCHTOWER_SCHEDULE={{ watchtower__schedule }}
